# Temporary files generated when testing charts locally
deploy/**/*.tgz
deploy/**/Chart.lock

# editors
.vscode
.idea

# MacOS
.DS_Store

# Avoid local development files being versioned
values-override.yaml
